div.navBar {
    background-color: #dad9d9;
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    z-index: 500;
}

a.appTitle {
    font-weight: 600;
    font-size: 17pt;
    float: left;
    line-height: 50px;
    height: 50px;
    padding-left: 30px;
}

.login-signup, .header-name {
    float: right;
    line-height: 50px;
    max-height: 50px;
    padding-right: 30px;
}

.login-signup > a {
    text-decoration: underline;
}

div.appShop {
    font-size: 14pt;
    float: left;
    line-height: 50px;
    height: 50px;
    padding-left: 40px;
}

div.userDropDown {
    display: inline-block;
    width: 180px;
    margin-right: 20px;
    float: right;
}

div.dropDownClosed {
    width: 40px;
    margin-right: 160px;
}

ul.user-drop-down-menu {
    width: 100%;
    margin-left: 4px;
    margin-top: -3px;
    z-index: 10;
    background: #fff;
}

li.dropDownItem {
    border: 1px solid black;
    border-top: none;
    width: 99%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

li.dropDownItem:hover {
    background: #eee;
}

a.current {
    width: 100%;
    display: block;
    line-height: 40px;
    text-align: center;
}

div.main-shop {
    font-size: 14pt;
    position: fixed;
    float: left;
    line-height: 50px;
    left: 275px;
    width: 75px;
    text-align: center;
    z-index: 501;
}

div.main-shop:hover {
    background: #adadad;
}

ul.shop-list {
    display: none;
    width: 150px;
    margin-top: 1px;
    z-index: 10;
    background: #fff;
}

ul.shop-second-list {
    position: absolute;
    margin-top: 0;
    left: 150px;
    top: 51px;
}

ul.shop-second-list > li {
    cursor: pointer;
}

div.shop-drop-down {
    height: auto;
    width: auto;
}

ul.skateboard {
    top: 91px;
    border-top: 1px solid black;
}

ul.snowboard {
    top: 132px;
    border-top: 1px solid black;
}

ul.surfboard {
    top: 173px;
    border-top: 1px solid black;
}
