div.tile {
    float: left;
    margin: 25px;
    width: 20%;
    height: 310px;
    max-width: 260px;
    min-width: 230px;
    list-style: none;
    text-align: center;
    display: grid;
    cursor: pointer;
}

div.tile > img {
    width: 100%;
    height: auto;
}

div.decksTile {
    height: 600px;
}

div.bearingsTile {
    height: 305px;
}

div.wheelsTile {
    height: 305px;
}

div.decks {
    padding-bottom: 165px;
}
