div.tile {
    float: left;
    margin: 25px;
    width: 20%;
    height: 310px;
    max-width: 260px;
    min-width: 230px;
    list-style: none;
    text-align: center;
    display: grid;
    cursor: pointer;
    background: #fff;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

div.tile:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 1px rgba(0, 188, 212, 0.52);
    z-index: 1;
}

div.tile > img {
    width: 100%;
    height: auto;
}

div.decksTile {
    height: 550px;
}

div.bearingsTile {
    height: 310px;
}

div.wheelsTile {
    height: 310px;
}

div.decks {
    padding-bottom: 250px;
}

div.decks > h3 {
    line-height: 56px;
}
